<p style="color: green"><%= notice %></p>

<%= render @game %>

<div>
  <%= link_to "Edit this game", edit_game_path(@game) %> |
  <%= link_to "Back to games", games_path %>

  <%= button_to "Destroy this game", @game, method: :delete %>
</div>

<div id="chat" data-room="game-<%= @game.id %>">
<textarea id="chat_output" style="width: 500px; height: 200px;"></textarea><br>
<input type="text" id="chat_input" style="width: 400px;">
<button id="chat_say">Say</button>
</div>

<% content_for :head do %>
<%= javascript_import_module_tag "game/chat" %>
<% end %>
